build --define=use_fast_cpp_protos=true
build --define=allow_oversize_protos=true

build --spawn_strategy=standalone
# build --strategy=Genrule=standalone
build -c opt

# Default paths for TF_SYSTEM_LIBS
build --define=PREFIX=/usr
build --define=LIBDIR=$(PREFIX)/lib
build --define=INCLUDEDIR=$(PREFIX)/include

# host build is useless
build --distinct_host_configuration=false

try-import %workspace%/.tf_plugin_configure.bazelrc
build --define=build_with_zendnn=true
build --define=build_with_openmp=true
build --copt=-fopenmp
build --cxxopt=-std=c++17
build -c opt

# Ignore below folders while -Werror check since
# these files are coming from thrid-party
build --per_file_copt=external/llvm_openmp/runtime/src/.*@-Wno-error
build --per_file_copt=external/nsync/internal/.*@-Wno-error
build --per_file_copt=external/zen_dnn/.*@-Wno-error
build --copt=-Wno-error=stringop-overflow
build --copt=-Wno-comment
build --copt=-Wno-int-in-bool-context
